<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movie Theater </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container">

        <div class="jumbotron">
            <h1> Movie Theater Bookings</h1>
            <p>Below you can activate certain events based on the users and theatres presented. Select a user and then associate them with a particualr theatre.</p>
        </div>

        <h3>System Status</h3>

        <hr>

        <div class="row">

             <div class="col-sm-2">
                    <button id="btnResetServerData" type="button" class="btn btn-danger">Clear Server Memory</button>
             </div>

             <div class="col-sm-2">
                    <button id="btnReloadServerData" type="button" class="btn btn-success">Reload Server Data</button>
             </div>

             <div class="col-sm-2">
                <p>Server Status: </p> 
                <p id="serverStatusResponse"></p>
            </div>

             <div class="col-sm-6 card">
                <div class="card-body" style="height:120px;width:550px;overflow:auto;">
                        <p id="systemReport"></p>
                </div>
            </div>


        </div>

        <hr>

        <h3> Adding Entities To System</h3>

        <hr>
        
        <form>
            
            <div class="row">

                    <div class="col-sm-4">

                        <div class="form-group">
                            <label for="usr">Ticket SalesPerson: </label>
                            <input type="text" class="form-control" id="ticketSeller">
                        </div>
                    
                        </div>

                    <div class="col-sm-4">

                        <div class="form-group">
                            <label for="usr"> </label>
                        </div>

                        <input id="btnAddTicketSeller" type="button" value="Add Ticket Seller">
                    
                    </div>

                    <div class="col-sm-4 ">
                            
                        <p>Status: </p> 
                        <p id="salesPersonResponse"></p>

                    </div>

            </div>

        </form>

        <form method="post">
            
            <div class="row">
                    
                <div class="col-sm-4">

                    <div class="form-group">
                        <label for="usr"> Add Movie Showing: </label>
                        <input type="text" class="form-control" id="movieShowing">
                    </div>
                
                    </div>

                <div class="col-sm-4">

                        <div class="form-group">
                            <label for="usr"> </label>
                        </div>

                        <input id="btnAddMovieShowing" type="button" value="Add Movie">
                
                </div>

                <div class="col-sm-4">
                        
                        <p>Status: </p> 
                        <p id="movieTheatreResponse"></p>

                </div>

        </div>

        <hr>

        </form>

        <h3>Ticket Sales</h3>

        <hr>

        <form method="post">

            <div class="row">

                <div class="col-sm-4">

                    <div class="dropdown">

                        Ticket SalesPerson    
                        <select id="ticketSellers"> </select> 

                        <hr>

                        Theatres    
                        <select id="theatresShowing"> </select>
        
                        <hr>
        
                        Select Number of Tickets    
                        <select id="numTickets">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select> 

                        <hr>

                        Select Transaction Type    
                        <select id="transType">
                            <option value="buy">Buying</option>
                            <option value="refund">Refund</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                        <input id="btnRecordTransaction" type="button" value="Record Transaction">
                </div>

                <div class="col-sm-4">
                        
                        <p>Status: </p> 
                        <p id="transResponse"></p>

                </div>

            </div> 

        </form>

        <hr>

    </div>


    <script> 
        $(document).ready(function(){

            systemStatus();

            function writeServerStatus(theatres, sellers){
                var sellerHTML = "";
                var moviesHTML = "";
                var text = "Theatres<br>";
                theatres.forEach(function(element) {
                    text += element.movieName + " " + element.numTicks +'<br>';
                    moviesHTML += '<option value="'+ element.movieName + '">' + element.movieName + '</option>';
                });
                $('#theatresShowing').append(moviesHTML);
                text += "--------------------------";
                text += "<br>Sellers<br>"
                sellers.forEach(function(element) {
                    text += element.sellerName + " " + element.numTicks +'<br>';
                    sellerHTML +=  '<option value="'+ element.sellerName + '">' + element.sellerName + '</option>';
                });
                $('#ticketSellers').append(sellerHTML);
                $('#systemReport').html(text);
            }

            function systemStatus(){
                $.get(
                    "http://127.0.0.1:8000/systemStatus",
                    function(result){
                        writeServerStatus(result.theatreShowings, result.sellers);
                    },
                    'json'
                );
            }

            $('#btnResetServerData').click(function(){
                $.get("http://127.0.0.1:8000/wipeSystemMemory",
                function(result){
                    $('#serverStatusResponse').text(result.message);
                },'json');
            });

            $('#btnReloadServerData').click(function(){
                $.get("http://127.0.0.1:8000/refreshSystemMemory",
                function(result){
                    $('#serverStatusResponse').text(result.message);
                    writeServerStatus(result.theatreShowings, result.sellers);
                },'json');
            });

            $('#btnAddTicketSeller').click(function(){
                $.post(
                    "http://127.0.0.1:8000/addTicketSeller", 
                    {ticketSeller:$("#ticketSeller").val()}, 
                    function(result){
                        $('#salesPersonResponse').text(result.message);
                        var names = JSON.parse(result.allSellers);
                        var sellers = '';
                        for (var i=0;i<names.length;i++){
                            sellers += '<option value="'+ names[i] + '">' + names[i] + '</option>';
                        }
                        $('#ticketSellers').append(sellers);
                    },
                    'json'
                );
            });

            $('#btnAddMovieShowing').click(function(){
                $.post(
                    "http://127.0.0.1:8000/addMovieShowing", 
                    { movieShowing:$("#movieShowing").val() }, 
                    function(result){
                        $('#movieTheatreResponse').text(result.message);
                        var names = JSON.parse(result.allTheatres);
                        var theatres = '';
                        for (var i=0;i<names.length;i++){
                            theatres += '<option value="'+ names[i] + '">' + names[i] + '</option>';
                        }
                        $('#theatresShowing').append(theatres);
                    },
                    'json'
                );
            });

            $('#btnRecordTransaction').click(function(){
                $.post(
                    "http://127.0.0.1:8000/recordTransaction",
                    { movie:$("#theatresShowing").val(), tickets:$("#numTickets").val(), salesPerson:$("#ticketSellers").val(),  transType:$("#transType").val()},
                    function(result){
                        $('#transResponse').text(result.message);
                    },
                    'json'
                );
            });

        });   
    </script>
  </body>
</html>